__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv
env
.pytest_cache
.mypy_cache
.coverage
htmlcov
.git
.gitignore
.idea
.vscode
*.log
README.md
tests/
scripts/
data/
prometheus_data/
grafana_data/
*.md
!requirements.txt